@import "react-alice-carousel/lib/alice-carousel.css";
@import "react-toastify/dist/ReactToastify.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
  background-color: #f1f7fd;
}
.container {
  @apply mx-auto  max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8;
}

.btn-yellow {
  @apply rounded bg-[#FFBB00] px-6 py-3 font-medium text-primary text-size16 md:text-size24 disabled:opacity-[.5] disabled:cursor-not-allowed;
}

.selectWrapper {
  position: relative;
  display: inline-block;
}

.localeSelect {
  color: transparent;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  width: 40px;
}
.localeSelect option {
  color: #000 !important;
}
.selectedIcon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-custom {
  animation: spin 1s linear infinite;
}
